// @import 'forms';
// @import 'buttons';
// @import 'borders';

/**
* ? Scrollbars
*/
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 2px; /* Rounded corners of the scrollbar handle */
}
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
  

/**
* ? ProgressBar
*/
.progressbar-load{
    position: fixed;
    width: 100%;
    height: 5px !important;
    top: 0;
    left: 0;
    z-index: 1000;
}

/**
* ? Modal
*/
$modal-backdrop-opacity: 0.4;
$modal-content-border-radius: 1rem;
$modal-content-bg: transparent;
// $modal-fade-transform: scale(1.1);
// $modal-scale-transform: scale(1);
$modal-show-transition: transform .4s ease-out;

.modal{
    .modal-header{
        background-color: $background !important;
        color: $light !important;
        border-bottom: none !important;
    }
    .modal-body{
        background-color: $dark !important;
        color: $dark !important;
    }
    .modal-footer{
        background-color: $dark !important;
        color: $dark !important;
    }
}

/**
* ? Icons
*/
.icon-bg{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.green{
        background-color: lighten($green, 35%);
        color: $green;
    }
    &.red{
        background-color: lighten($red, 35%);
        color: $red;
    }
    &.blue{
        background-color: lighten($blue, 35%);
        color: $blue;
    }
    &.yellow{
        background-color: lighten($yellow, 35%);
        color: $yellow;
    }
    &.purple{
        background-color: lighten($purple, 25%);
        color: $purple;
    }
    &.orange{
        background-color: lighten($orange, 35%);
        color: $orange;
    }
    &.pink{
        background-color: lighten($pink, 12%);
        color: $pink;
    }
}

/**
* ? Shadow
*/
.shadow-nice{
    box-shadow: 0 5px 20px -5px rgba(darken($primary, 30%), 0.3)  !important;
}


/**
* ? Backgrounds
*/
.bgImage-profileview{
    background-image: url('https://coderthemes.com/greeva/layouts/vertical/assets/images/small/img-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

/**
* ? breadcrumb
*/
.breadcrumb{
    margin-bottom: 0 !important;
    .breadcrumb-item{
        a{
            color: $primary !important;
            font-weight: 600;
        }
        &.active{
            color: $light !important;
        }
    }
}


/**
* ? Cards
*/
.card{
    border: none !important;
}

/**
* ? badge
*/
.badge.badge-lg{
    padding: 6px;
    border-radius: 4px;
    min-width: 65px;
    font-size: 0.8rem;
    &.badge-primary{
        background-color: lighten($primary, 28%);
        color: darken($primary, 20%);
        border: 1px solid darken($primary, 20%);
    }
    &.badge-success{
        background-color: lighten($success, 28%);
        color: darken($success, 20%);
        border: 1px solid darken($success, 20%);
    }
    &.badge-danger{
        background-color: lighten($danger, 20%);
        color:darken($danger, 10%);
        border: 1px solid darken($danger, 20%);
    }
    &.badge-warning{
        background-color: lighten($warning, 20%);
        color: $warning;
        border: 1px solid darken($warning, 20%);
    }
    &.badge-yellow{
        background-color: lighten($yellow, 20%);
        color: darken($yellow, 35%);
        border: 1px solid darken($yellow, 20%);
    }
    &.badge-purple{
        background-color: lighten($purple, 20%);
        color: darken($purple, 35%);
        border: 1px solid darken($purple, 20%);
    }
    &.badge-blue{
        background-color: lighten($blue, 20%);
        color: darken($blue, 35%);
        border: 1px solid darken($blue, 20%);
    }
    &.badge-orange{
        background-color: lighten($orange, 20%);
        color: darken($orange, 35%);
        border: 1px solid darken($orange, 20%);
    }
    // ? roles
    &.role-ADMIN{
        background-color: lighten($danger, 20%);
        color: darken($danger, 10%);
        border: 1px solid darken($danger, 20%);
    }
    &.role-SUPERVISOR{
        background-color: lighten($blue, 20%);
        color: darken($blue, 35%);
        border: 1px solid darken($blue, 20%);
    }
    &.role-VENDEDOR{
        background-color: lighten($yellow, 20%);
        color: darken($yellow, 35%);
        border: 1px solid darken($yellow, 20%);
    }
}

/**
* ? Tables
*/
.table-custom{
    thead{
        tr{
            th{
                background-color: $dark !important;
                color: $light !important;
                padding: 0.8rem 0.5rem;
                border-bottom: none !important;
            }
            th:first-child{
                padding-left: 1rem;
                border-top-left-radius: 8px;
            }
            th:last-child{
                border-top-right-radius: 8px;
            }
        }
    }
    tbody{
        tr{
            position: relative;
            overflow: visible;
            td{
                overflow: visible;
                color: $light !important;
            }
            td:first-child{
                padding-left: 1rem;
            }
        }
    }
    &.table-dark{
        thead{
            tr{
                th{
                    background-color: $dark-emphasis !important;
                    color: $light !important;
                    padding: 0.8rem 0.5rem;
                    border-bottom: none !important;
                }
                th:first-child{
                    padding-left: 1rem;
                    border-top-left-radius: 8px;
                }
                th:last-child{
                    border-top-right-radius: 8px;
                }
            }
        }
        tbody{
            tr{
                position: relative;
                overflow: visible;
                td{
                    background-color: $dark-emphasis !important;
                    overflow: visible;
                    color: $light !important;
                }
                td:first-child{
                    padding-left: 1rem;
                }
            }
        }
    }
}
#table-container{
    overflow-x: hidden;
}
table.dataTable thead>tr>th.sorting:before, 
table.dataTable thead>tr>th.sorting_asc:before, 
table.dataTable thead>tr>th.sorting_desc:before, 
table.dataTable thead>tr>th.sorting_asc_disabled:before, 
table.dataTable thead>tr>th.sorting_desc_disabled:before, 
table.dataTable thead>tr>td.sorting:before, 
table.dataTable thead>tr>td.sorting_asc:before, 
table.dataTable thead>tr>td.sorting_desc:before, 
table.dataTable thead>tr>td.sorting_asc_disabled:before, 
table.dataTable thead>tr>td.sorting_desc_disabled:before {
    right: 1em;
    content: "\f062" !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
table.dataTable thead>tr>th.sorting:after, 
table.dataTable thead>tr>th.sorting_asc:after, 
table.dataTable thead>tr>th.sorting_desc:after, 
table.dataTable thead>tr>th.sorting_asc_disabled:after, 
table.dataTable thead>tr>th.sorting_desc_disabled:after, 
table.dataTable thead>tr>td.sorting:after, 
table.dataTable thead>tr>td.sorting_asc:after, 
table.dataTable thead>tr>td.sorting_desc:after, 
table.dataTable thead>tr>td.sorting_asc_disabled:after, 
table.dataTable thead>tr>td.sorting_desc_disabled:after  {
    right: 0.5em;
    content: "\f063" !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
table.dataTable{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.dataTables_length{
    label{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        color: #5c6063;
        font-size: 11.9px !important;
        select{
            margin-left: 0.85rem;
        }
    }
}
.dt-button-background{
    display: none !important;
}

table.dataTable tbody th.focus, table.dataTable tbody td.focus{
    outline: 2px solid $primary !important;
}
table.dataTable.table-striped>tbody>tr.odd>*{
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 0 9999px #192436 !important;
    border-bottom: none !important;
}
table.dataTable.table-striped>tbody>tr.even>*{
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 0 9999px #1f2c42 !important;
    border-bottom: none !important;
}

.dataTables_length>label>select{
    min-width: 150px;
}
div.dt-button-collection .dt-button-active{
    position: relative;
    background-color: $primary !important;
    color: $light !important;
    &::after{
        content: "\f058" !important;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
}
.dataTables_paginate{
    .pagination{
        margin-bottom: 0 !important;
    }
    .next>.page-link, .previous>.page-link{
        background-color: $dark;
        text-decoration: none !important;
        border: none !important;
        &:hover{
            border: none !important;
            background-color: $dark-light;
        }
    }
    li.page-item:not(.active){
        .page-link{
            background-color: $dark-light !important;
            color: white !important;
            border: none !important;
            &:hover{
                border: none !important;
                background-color: $dark !important;
            }
        }
    }
    .page-link:focus{
        box-shadow: none !important;
    }
}

/**
* SWEETALERT2
*/

.swal2-popup.swal2-toast{
    background-image: linear-gradient(to right top, $dark, black) !important;
    padding: 0.4rem 1rem !important;
    .swal2-icon{
        zoom: 0.7;
    }
    .swal2-title{
        color: $light !important;
    }
    .swal2-success{
        .swal2-success-circular-line-left,.swal2-success-fix,.swal2-success-circular-line-right{
            background-color: transparent !important;
        }
    }
}
.swal2-timer-progress-bar{
    background-color: $primary !important;
}
.swal2-popup.swal2-toast.swal2-show {
    -webkit-animation: swal2-toast-show-better 0.5s ease-in !important;
	        animation: swal2-toast-show-better 0.5s ease-in !important;
}

@-webkit-keyframes swal2-toast-show-better {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
@keyframes swal2-toast-show-better {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
  
.form-icon{
    position: relative;
    input{
        padding-right: 2.5rem;
    }
    i{
        transition: all 0.4s ease-in-out;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
    }
    &.icon-left{
        input{
            padding-left: 2.5rem;
        }
        i{
            left: 0;
            right: auto;
        }
    
    }
}
.form-control{
    &.form-control-action{
        transition: all 0.4s ease-in-out !important;
        &:focus, &:active{
            background-color: lighten($primary, 35%) !important;
            border-color: $primary !important;
            ~i{
                color: $primary !important;
            }
        }
        &:not(:placeholder-shown){
            background-color: lighten($primary, 35%) !important;
            border-color: $primary !important;
            ~i{
                color: $primary !important;
            }
        }
    }
    &:not(form-control-action){
        &:focus, &:active{
            box-shadow: none !important;
        }
    }
    &::placeholder{
        color: $gray !important;
        opacity: 1 !important;
    }
}
.form-control{
    &.form-noshadow{
        box-shadow: none !important;
        &:focus, &:active{
            box-shadow: none !important;
        }
    }
    &.form-dark{
        background-color: $dark-emphasis !important;
        border: $dark-emphasis !important;
        color: $light !important;
        &:focus, &:active{
            background-color: $dark-emphasis !important;
            border-color: $dark-emphasis !important;
        }
    }
}
label.form-label{
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.form-select{
    color: white !important;
    &:focus, &:active{
        box-shadow: none !important;
    }
}
.selectize-input{
    padding-top: .1rem !important;
    padding-bottom: .1rem !important;
}
.selectize-dropdown, .selectize-input, .selectize-input input{
    color: white !important;
    &::placeholder{
        color: white !important;
    }
}
.selectize-dropdown .active:not(.selected){
    color: $primary !important;
}

.required{
    position: relative;
    &::before{
        content: "\2a";
        color: $secondary;
        font-size: 1rem;
        font-family: 'Font Awesome 6 Duotone';
        font-weight: 900;
        position: absolute;
        right: 0.5rem;
        top: 0rem;
    }
}
.selectize-input{
    min-height: calc(1.5em + 1rem + calc(1px * 2)) !important;
    padding: 0.5rem 1rem !important;
    &.focus{
        box-shadow: none !important;
    }
    background-color: var(--bs-background) !important;
    border-color: #4c596f !important;
}
.selectize-control.multi .selectize-input>.item{
    background-color: $secondary !important;
    color: white !important;
    margin-bottom: 0 !important;
}
.form-check{
    &.form-switch-lg{
        display: flex !important;
        align-items: center;
        .form-check-input{
            width: 3rem !important;
            height: 1.5rem !important;
            margin-right: 0.4rem;
            cursor: pointer;
            &:focus, &:active{
                box-shadow: none !important;
            }
            border-color: $dark-light !important;
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28 0, 0, 0, 0.5%29'/%3e%3c/svg%3e") !important;
        }
    }
    // &.stateColor{
    //     .form-check-input{
    //         &:checked{
    //             background-color: $success !important;
    //             border-color: $success !important;
    //             &:focus{
    //             }
    //         }
    //         &:not(:checked){
    //             background-color: $danger !important;
    //             border-color: $danger !important;
    //             &:focus{
    //                 background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e") !important;
    //             }
    //         }
    //     }
    // }
}
.input-group{
    .input-group-append{
        .input-group-text{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .input-group-prepend{
        .input-group-text{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
.tempus-dominus-widget.light button{
    background-color: $primary !important;
    border: none !important;
    color: $light !important;
}

label.form-label{
    i{
        cursor: pointer;
    }
}

.selectize-dropdown, .selectize-dropdown.form-control{
    background-color: var(--bs-background) !important;
}
.selectize-dropdown .active:not(.selected){
    background-color: $dark-light !important;
}

.selectize-dropdown .selected{
    background-color: $secondary !important;
    color: white !important;
}